<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.queatz.ailaai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
            android:name=".Application"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:localeConfig="@xml/locales_config"
            android:theme="@style/Theme.AiLaAi">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/Theme.AiLaAi.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="ailaai.app" />
            </intent-filter>

        </activity>

        <service
                android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
                android:enabled="false"
                android:exported="false">
            <meta-data
                    android:name="autoStoreLocales"
                    android:value="true" />
        </service>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${GOOGLE_MAPS_API_KEY}"/>

        <meta-data
                android:name="com.huawei.hms.client.appid"
                android:value="appid=${HMS_APP_ID}"/>

        <receiver android:name="com.huawei.hms.support.api.push.PushMsgReceiver" android:exported="true" tools:node="merge" />
        <receiver android:name="com.huawei.hms.support.api.push.PushReceiver" android:exported="true" tools:node="merge" />
    </application>

</manifest>
