<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
            android:name=".Application"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:localeConfig="@xml/locales_config"
            android:appCategory="social"
            android:theme="@style/Theme.AiLaAi">
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation|screenSize"
                android:theme="@style/Theme.AiLaAi.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="ailaai.app" android:pathPattern="/card/.*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="ailaai.app" android:pathPattern="/story/.*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="ailaai.app" android:pathPattern="/profile/.*" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ShareActivity"
                android:exported="true"
                android:windowSoftInputMode="adjustResize"
                android:configChanges="orientation|screenSize"
                android:theme="@style/Theme.AiLaAi.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service
                android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
                android:enabled="false"
                android:exported="false">
            <meta-data
                    android:name="autoStoreLocales"
                    android:value="true" />
        </service>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="app.ailaai.share.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths" />
        </provider>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${GOOGLE_MAPS_API_KEY}"/>

        <meta-data
                android:name="com.huawei.hms.client.appid"
                android:value="appid=${HMS_APP_ID}"/>

        <receiver android:name="com.huawei.hms.support.api.push.PushMsgReceiver" android:exported="true" tools:node="merge" />
        <receiver android:name="com.huawei.hms.support.api.push.PushReceiver" android:exported="true" tools:node="merge" />
    </application>

</manifest>
